.vscode/settings.json
__pycache__/*
franka_gripper/__pycache__/__init__.cpython-38.pyc
franka_gripper/msg/__pycache__/__init__.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspAction.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspActionFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspActionGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspActionResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspEpsilon.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingAction.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingActionFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingActionGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingActionResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveAction.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveActionFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveActionGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveActionResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopAction.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopActionFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopActionGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopActionResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopResult.cpython-38.pyc
franka_gripper/__pycache__/__init__.cpython-38.pyc
franka_gripper/msg/__pycache__/__init__.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspAction.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspActionFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspActionGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspActionResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspEpsilon.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingAction.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingActionFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingActionGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingActionResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveAction.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveActionFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveActionGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveActionResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopAction.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopActionFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopActionGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopActionResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopResult.cpython-38.pyc
franka_gripper/__pycache__/__init__.cpython-38.pyc
franka_gripper/msg/__pycache__/__init__.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspAction.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspActionFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspActionGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspActionResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspEpsilon.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingAction.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingActionFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingActionGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingActionResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveAction.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveActionFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveActionGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveActionResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopAction.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopActionFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopActionGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopActionResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopResult.cpython-38.pyc
franka_gripper/__pycache__/__init__.cpython-38.pyc
franka_gripper/msg/__pycache__/__init__.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspAction.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspActionFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspActionGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspActionResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspEpsilon.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_GraspResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingAction.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingActionFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingActionGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingActionResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_HomingResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveAction.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveActionFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveActionGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveActionResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_MoveResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopAction.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopActionFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopActionGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopActionResult.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopFeedback.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopGoal.cpython-38.pyc
franka_gripper/msg/__pycache__/_StopResult.cpython-38.pyc
SIMPLe/__pycache__/SIMPLe.cpython-38.pyc
SIMPLe_bimanual/__pycache__/dual_panda.cpython-38.pyc
SIMPLe_bimanual/__pycache__/panda.cpython-38.pyc
SIMPLe_bimanual/__pycache__/utils.cpython-38.pyc
